/* Глобальные стили для body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Устанавливаем минимальную высоту на весь экран */
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Контейнер для контента */
.container {
    flex: 1; /* Позволяет контейнеру занимать все доступное пространство */
}

/* Основные стили для футера */
.footer {
    padding: 20px;
    color: #630000;
    text-align: center;
    border-top: 2px solid #630000;
    font-size: 0.9rem;
    margin-top: 40px;
}

/* Ссылки в футере */
footer nav a {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #630000;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    transition: color 0.3s, background-color 0.3s;
    border: 1px solid transparent;
}

footer nav a:hover {
    color: var(--background-color);
    background-color: #630000;
}

.footer-link {
    color: #630000 !important;
}