/* Основные стили для main-content */


.main-content {
    padding: 40px;
    background-color: #ffffff00;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

/* Общие стили для всех секций */
.section {
    margin-bottom: 40px;
    background: rgb(0,10,185);
    background: linear-gradient(200deg, rgba(0,10,185,0.6474964985994398) 0%, rgba(207,0,0,0.6951155462184874) 100%);
}

/* Заголовки в секциях */
.section h2 {
    font-size: 1.8rem;
    color: #ffffff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

/* Параграфы в секциях */
.section p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #ffffff;
    
    font-size: 1rem;
    letter-spacing: 0.4px;
}

/* Стили для списка навыков */
.section ul {
    list-style-type: none;
    padding-left: 0;
}

.section ul li {
    font-size: 1rem;
    color: #333;
    padding-left: 20px;
    position: relative;
}

.section ul li::before {
    content: "-";
    position: absolute;
    left: 0;
    color: #000000; /* Цвет маркера */
}

/* Добавление мягкого теневого эффекта для улучшения визуального восприятия */
.section {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
    border: 3px solid  rgba(255, 255, 255, 0.473);
    -webkit-box-shadow: 20px -18px 12px -4px rgba(255,0,0,0.55);
    -moz-box-shadow: 20px -18px 12px -4px rgba(255,0,0,0.55);
    box-shadow: 20px -18px 12px -4px rgba(255,0,0,0.55);
}

a {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    transition: color 0.3s, background-color 0.3s;
    border: 1px solid transparent;
}

a:hover {
    color: var(--background-color);
    background-color: var(--hover-color);
}


.subt {
    font-weight: 500 !important;
    font-size: 1.25rem !important;
}
