/* Основные стили для main-content */


.main-content {
    padding: 40px;
    background-color: #ffffff00;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

/* Общие стили для всех секций */
.section {
    margin-bottom: 40px;
    background: rgb(0,10,185);
    background: linear-gradient(200deg, rgba(0,10,185,0.6474964985994398) 0%, rgba(207,0,0,0.6951155462184874) 100%);
    
}

/* Заголовки в секциях */
.section h2 {
    font-size: 3rem;
    color: #ffffff;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.section img {
    width: 100%;
    border-radius: 10px;
}


/* Параграфы в секциях */
.section p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #ffffff;
    
    font-size: 1.5rem;
    letter-spacing: 0.4px;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* Стили для списка навыков */
.section ul {
    list-style-type: none;
    padding-left: 0;
}

.section ul li {
    font-size: 1rem;
    color: #333;
    padding-left: 20px;
    position: relative;
}

.section ul li::before {
    content: "-";
    position: absolute;
    left: 0;
    color: #000000; /* Цвет маркера */
}

/* Добавление мягкого теневого эффекта для улучшения визуального восприятия */
.section {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
    border: 3px solid  rgba(255, 255, 255, 0.473);
    background: rgb(210,0,0);
    background: linear-gradient(348deg, rgba(210,0,0,0.6474964985994398) 0%, rgba(64,0,201,0.6951155462184874) 100%);

}

a {
    font-size: 1.1rem !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(67, 217, 255);
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    transition: color 0.3s, background-color 0.3s;
    border: 1px solid transparent;
}

a:hover {
    color: var(--background-color);
    background-color: var(--hover-color);
}


.subt {
    font-weight: 500 !important;
    font-size: 2rem !important;
}

.language {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 48px;
    width: auto !important;
}

.skillstext {
    text-align: center;
}