@import './styles/variables.css';

/* Глобальные стили */
:root {
    --background-color: #ffffff; /* Темный фон */
    --text-color: #f5f5f5; /* Светлый текст */
    --accent-color: #ffffff; /* Акцентный цвет */
    --secondary-color: #1c1c1c; /* Вторичный цвет (для карточек) */
    --font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background: url('./assets/texture.jpg');
    background-size: cover; /* Текстура будет масштабироваться по размеру экрана */
    background-position: center; /* Центрирует изображение */
    background-attachment: fixed; /* Не двигается при прокрутке */
    background-repeat: no-repeat; /* Запрещает повторение */
    
}


a {
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #1b0000; /* Светлый акцент при наведении */
}

.container {
    
	background: rgba(255, 255, 255, 0.438);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 0px;
}

.section::before {
    content: '';
    display: block;
    height: 2px;
    width: 50px;
    background: #630000;
    margin-bottom: 20px;
    
}
